.pw {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.cx {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    justify-content: center;
    align-items: flex-start;
}

.md1 {
    width: 35vw;
    height: 98vh;
    border: solid 1px #ddd;
    background-color: #FBE8A6;
    padding: 20px;
    box-sizing: border-box;
}


.md2 {
    width: 35vw;
    height: 98vh;
    border: solid 1px #ddd;
    background-color: #F4976C;
    padding: 20px;
    box-sizing: border-box;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.sd {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sd1, .sd2, .sd3, .sd4, .sd5, .sd6, .sd7, .sd8 {
    width: 100%;
    height: auto;
    border: solid 1px #ddd;
    background-color: #FBE8A6;
    padding: 10px;
    box-sizing: border-box;
}
@media (max-width: 767px)	{
    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2.5rem;
        background-color: white;
        position: relative;
        z-index: 2;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        flex-flow: column-reverse;
    }
    .hero img.pt {
        max-width: 74%;
        height: auto;
        margin-left: 0rem;
        object-fit: unset;
        z-index: 10;
    }
    .hero h1 {
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 1.2;
        color: #073175;
        text-align: left;
        margin: -1.438rem;
        padding-bottom: 1.313rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        z-index: 10;
        margin-right: -4,125rem;
        padding-right: 0.75rem;
    }
    .test {
        margin-top: 1.625rem;
        margin-left: 0.5rem;
        font-size: medium;
    }
        .people {
            height: 33%;
        }
        .section-heading {
            font-size: 2.5em;

        }.block-number {
            background-color: #ff4965;
            color: #fff;
            width:  3.125rem;
            height: 3.125rem;
            border-radius: 6.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.25rem;
            font-weight: bold;
            margin-left: 40%;
            padding: 1.75rem;
        }
        .block-image {
            width: 18rem;
            height: auto;
        }
        .full-screen-container {
            position: relative;
            width: 105vw;
            height: 128vh;
            overflow: hidden;
            margin: -0.5rem;
            margin-bottom: -33.188rem;
        }
}