.testimonial-slider {
    max-width: 480px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
    
    
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.endorsement-box{
    margin-left: 20%;
    justify-content: center;
    align-content: center;
}
  .testimonial-card {
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .testimonial-card:hover {
    transform: scale(1.05);
  }
  
  .testimonial-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  
  .testimonial-text {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .testimonial-title {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
  }
  
  .testimonial-content {
    font-size: 0.9em;
    color: #666;
    line-height: 1.5em;
    font-style: italic;
  }
  
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1;
  }
  
  .arrow img {
    width: 20px;
    height: 20px;
  }
  
  .arrow.next {
    right: -25px;
  }
  
  .arrow.prev {
    left: -25px;
  }
  
  .slick-dots {
    bottom: -30px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #999;
  }
  
  .slick-dots li.slick-active button:before {
    color: #000;
  }
  @media (max-width: 768px) {
    .testimonial-slider {
      padding: 20px 10px; /* Adjust padding for smaller screens */
    }
}